@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&family=Roboto:wght@500;700&display=swap');

/* Estilizando a barra de rolagem */
body {
  overflow-y: scroll; 
}

body::-webkit-scrollbar {
  width: 10px; 
}

body::-webkit-scrollbar-thumb {
  background-color: #1956E5;
  border-radius: 25px;
}

body::-webkit-scrollbar-track {
  background-color: #0e1013; 
}

#text-area {
  overflow-y: auto;
}

#text-area::-webkit-scrollbar {
  width: 8px; 
}

#text-area::-webkit-scrollbar-thumb {
  background-color: #00AEE5; 
  border-radius: 25px;
}

#text-area::-webkit-scrollbar-track {
  background-color: transparent
}

li {
  color: #D7D1D1;
  font-family: "Inter", sans-serif;
  line-height: 2rem;
  font-size: 1.125rem;
}